{{> creatorHeader}}
<main id="content">
	<h1>Hey, {{creatorname}}</h1>
	<nav>
		<ul>
			{{#if live}}
			<li><a href="#live-polls">Ga naar de actieve polls</a></li>
			{{/if}}
			<li><a href="/c/{{creatorname}}/maak-poll">Maak een nieuwe poll aan</a></li>
			<li><a href="#my-polls">Ga naar mijn gemaakte polls</a></li>
			<li><a href="#my-groups">Ga naar mijn groepen</a></li>
		</ul>
	</nav>
	{{#if activePolls}}
		<h2 id="live-polls">Actieve polls</h2>
			{{#each activePolls}}
				<article>
					<header>
						<h3>{{title}}</h3>
						<p><span>De poll is op dit moment </span>Live<span>.</span></p>
						<p><span>Deze poll is </span>{{visibility}}<span>.</span></p>
					</header>
					<section>
						<h4>{{question.title}}</h4>
						<ol>
							{{#each question.options}}
								<li data-votes="{{votes}}">{{text}}<span>. {{text}} heeft {{votes}} stemmen.</span></li>
							{{/each}}
						</ol>
						<p><span>Het totaal aantal stemmen: </span>{{totalvotes}} stemmen<span>.</span></p>
					</section>
					<p>Vraag {{currentQuestion}} van {{questionCount}}<span>.</span></p>
				</article>
			{{/each}}
		<a href="/c/{{creatorname}}">Update poll(s)</a>
	{{/if}}
	<a href="/c/{{creatorname}}/maak-poll">Maak een nieuwe poll aan</a>
	<h2 id="my-polls">Mijn polls</h2>
	{{#if myPolls}}
		{{#each myPolls}}
			<article>
				<header>
					<h3>{{title}}</h3>
					<p><span><span>De {{title}} poll is </span>{{visibility}}</span>
					<span><span>en heeft </span>
					{{#if singleQuestion}}1 vraag{{else}}{{questionCount}} vragen{{/if}}<span>.</span></span></p>
				</header>
				{{#if questions}}
					<h4>Vragen</h4>
					<ol>
						{{#each questions}}
								<li>{{title}}</li>
						{{/each}}
					</ol>
				{{else}}
				<p>Je hebt nog geen vragen. <a href="/c/{{creator}}/poll/{{pollId}}/vraag-toevoegen">Vraag toevoegen</a><span>.</span></p>
				{{/if}}
				<p>Laatst bijgewerkt op <time datetime="{{modified}}"><span>{{modifiedSentence}}</span></time><span>.</span></p>
				{{#if active}}
				<a href="/c/{{creator}}/poll/{{pollId}}/stop"><span>Poll </span>stoppen</a>
				{{else}}
					<ul>
						<li>
							<a href="/c/{{creator}}/poll/{{pollId}}/edit"><span>Poll </span>bewerken</a>
						</li>
						<li>
							<a href="/c/{{creator}}/poll/{{pollId}}/verwijderen"><span>Poll </span>verwijderen</a>
						</li>
					</ul>
					{{#if questions}}
						<a href="/c/{{creator}}/poll/{{pollId}}/start"><span>Poll </span>starten</a>
					{{/if}}
				{{/if}}
			</article>
		{{/each}}
	{{else}}
	<p>Je hebt nog geen polls gemaakt. <a href="/c/{{creatorname}}/maak-poll">Maak een nieuwe poll aan</a>.</p>
	{{/if}}
	<h2 id="my-groups">Mijn groepen</h2>
	{{#if groups}}
		<ul>
			{{#each group}}
			<li>
				<a href="/c/{{creatorname}}/groep/{{name}}">{{name}}</a>
			</li>
			{{/each}}
		</ul>
		<a href="/groep-aanmaken">Maak een nieuwe groep aan</a>
	{{else}}
	<p>Je bent nog niet aangesloten bij een groep. Je kunt zelf een groep maken of zoeken naar een groep om bij aan te sluiten.</p>
	<ul>
		<li><a href="/groep-aanmaken">Maak een nieuwe groep aan</a></li>
		<li><a href="/groepen">Groep zoeken</a></li>
	</ul>
	{{/if}}
</main>