{{> creatorHeader}}
<main id="content">
<h1>Maak nieuwe vraag</h1>
<form action="/vraag-toevoegen" method="POST">
	<label>Vraag: <input type="text" name="title" maxlength="56"></label>
	<fieldset>
		<legend>Antwoorden</legend>
		<ol>
			{{#each options}}
			<li><label>Optie {{this}}: <input type="text" name="options" maxlength="24"></label></li>
			{{/each}}
		</ol>
		{{#if nextOption}}
			<a href="/c/{{creatorname}}/poll/{{pollId}}/vraag-toevoegen{{optionCount}}">Antwoord toevoegen</a>
		{{/if}}
	</fieldset>
	<label>Tijd om op vraag te antwoorden:
		<select name="timer">
			{{#if timeStandardSet}}
				{{#each timeStandardOptions}}
				<option value="{{seconds}}" {{selected}}>{{text}}</option>
				{{/each}}
			{{else}}
				<option value="60" selected>1 minuut</option>
				<option value="120">2 minuten</option>
				<option value="180">3 minuten</option>
				<option value="240">4 minuten</option>
				<option value="300">5 minuten</option>
			{{/if}}
		</select>
	</label>
	<label>Vraag verbergen <input type="checkbox" name="hidden"></label>
	<label>Resultaten direct tonen <input type="checkbox" name="showresults"></label>
	<input type="hidden" name="pollId" value="{{pollId}}">
	<input type="hidden" name="creator" value="{{creatorname}}">
	<div>
		<input type="submit" value="Vraag toevoegen">
	</div>
</form>
</main>