{{> creatorHeader}}
<h1>Hey, creator {{creatorname}}</h1>
<nav>
	<ul>
		{{#if live}}
		<li><a href="#live-polls">Ga naar de actieve polls.</a></li>
		{{/if}}
		<li><a href="#my-polls">Ga naar mijn gemaakte polls.</a></li>
		<li><a href="#my-groups">Ga naar mijn groepen.</a></li>
	</ul>
</nav>
<main>
	{{#if live}}
		<h2 id="live-polls">Actieve polls</h2>
			{{#each activePolls}}
				<article>
					<header>
						<h3>{{pollTitle}}</h3>
						<p><span>De poll is op dit moment </span>Live<span>.</span></p>
						<p><span>Deze poll is </span>>{{visibility}}<span>.</span></p>
					</header>
					<section>
						<h4>{{questionTitle}}</h4>
						<ol>
							{{#each answers}}
								<li>{{answer}} <span>heeft {{votes}} stemmen.</span></li>
							{{/each}}
						</ol>
						<p><span>Het totaal aantal stemmen is </span>{{votes}} stemmen<span>.</span></p>
					</section>
					<p>{{pollProgress}}</p>
				</article>
			{{/each}}
			<a href="/maker">Update poll(s)</a>
	{{/if}}
	<a href="poll-aanmaken">Maak een nieuwe poll aan</a>
	<h2 id="my-polls">Mijn polls</h2>
	{{#each polls}}
	<article>
		<header>
			<h3>{{pollTitle}}</h3>
			<p><span>Deze poll is </span>>{{visibility}}<span>.</span></p>
			<p>{{questionAmount}} vragen</p>
			<p>Gemaakt op <time datetime=`{{dateString}}`>{{date}}</time></p>
		</header>
		<h4>Vragen</h4>
		{{#each questions}}
			<section>
				<h5>{{questionTitle}}</h5>
				<ol>
					{{#each answers}}
						<li>{{answer}} <span>heeft {{votes}} stemmen.</span></li>
					{{/each}}
				</ol>
			</section>
		{{/each}}		
		<a href=`/{{pollURL}}`>Poll bewerken</a>
	</article>
	{{/each}}
	<h2 id="my-groups">Mijn groepen</h2>
</main>