{{> creatorHeader}}
<main id="content" class="creator-page">
	<h1>Hey, {{creatorname}}</h1>
	<nav>
		<ul>
			{{#if activePolls}}
			<li><a href="#live-polls">Ga naar de actieve polls</a></li>
			{{/if}}
			<li><a href="/c/{{creatorname}}/maak-poll">Maak een nieuwe poll aan</a></li>
			<li><a href="#my-polls">Ga naar mijn gemaakte polls</a></li>
			<li><a href="#my-groups">Ga naar mijn groepen</a></li>
		</ul>
	</nav>
	{{#if activePolls}}
	<section>
		<h2 id="live-polls">Actieve polls</h2>
		<ul>
		{{#each activePolls}}
		<li>
			<article>
				<header>
					<h3>{{title}}</h3>
					<ul>
						<li><span>De poll is op dit moment </span>live</li>
						<li><span>De poll is </span>{{visibility}}</li>
						<li>Gestart<span> op</span> {{startTime}}</li>
					</ul>
				</header>
				<section>
					<h4>{{question.title}}</h4>
					<ol>
						{{#each question.options}}
							<li data-votes="{{votes}}">{{text}}<span>. {{text}} heeft</span> {{votes}} stemmen<span>.</span></li>
						{{/each}}
					</ol>
				</section>
				<section>
						<h4>Informatie poll</h4>
						<ul>
						<li><span>Het totaal aantal stemmen: </span>{{totalvotes}} stemmen</li>
						<li>Vraag <span>{{currentQuestion}}</span> van <span>{{questionCount}}</span></li>
						</ul>
					</section>
				<a href="/poll/{{pollId}}{{creator}}">Ga naar poll<span> {{title}}</span></a>
			</article>
		</li>
		{{/each}}
		</ul>
		{{#if multiplePolls}}
			<a class="button activate" href="/c/{{creatorname}}">Update polls</a>
		{{else}}
			<a class="button activate" href="/c/{{creatorname}}">Update poll</a>
		{{/if}}
	</section>
	{{/if}}
	<a class="button call-to-action" href="/c/{{creatorname}}/maak-poll">Maak een nieuwe poll aan</a>
	<section>
		<h2 id="my-polls">Mijn polls</h2>
		{{#if myPolls}}
		<ul>
			{{#each myPolls}}
			<li>
				<article>
					<header>
						<h3>{{title}}</h3>
						<p><span><span>De {{title}} poll is </span>{{visibility}}</span>
						<span><span>en heeft </span>
						{{#if singleQuestion}}1 vraag{{else}}{{questionCount}} vragen{{/if}}<span>.</span></span></p>
					</header>
					{{#if questions}}
					<section>
						<h4>Vragen</h4>
						<ol>
							{{#each questions}}
									<li>{{title}}</li>
							{{/each}}
						</ol>
					</section>
					<footer>
						{{else}}
						<p>Je hebt nog geen vragen. <a class="button call-to-action" href="/c/{{creator}}/poll/{{pollId}}/vraag-toevoegen">Vraag toevoegen</a><span>.</span></p>
						{{/if}}
						<p>Laatst bijgewerkt<span> op </span><time datetime="{{modified}}">{{modifiedSentence}}</time><span>.</span></p>
						{{#if active}}
						<div class="stop-poll">
							<a class="button danger" href="/c/{{creator}}/poll/{{pollId}}/stop"><span>Poll </span>stoppen</a>
						</div>
						{{else}}
						<div class="options">
							<ul>
								<li>
									<a class="button" href="/c/{{creator}}/poll/{{pollId}}/edit"><span>Poll </span>bewerken</a>
								</li>
								<li>
									<a class="button danger" href="/c/{{creator}}/poll/{{pollId}}/verwijderen"><span>Poll </span>verwijderen</a>
								</li>
							</ul>
							{{#if questions}}
								<a class="button activate" href="/c/{{creator}}/poll/{{pollId}}/start"><span>Poll </span>starten</a>
							{{/if}}
						</div>
						{{/if}}
					</footer>
				</article>
			</li>
			{{/each}}
			</ul>
		{{else}}
		<p>Je hebt nog geen polls gemaakt. <a class="button call-to-action" href="/c/{{creatorname}}/maak-poll">Maak een nieuwe poll aan</a>.</p>
		{{/if}}
	</section>
	<section>
		<h2 id="my-groups">Mijn groepen</h2>
		{{#if groups}}
			<ul>
				{{#each group}}
				<li>
					<a href="/c/{{creatorname}}/groep/{{name}}">{{name}}</a>
				</li>
				{{/each}}
			</ul>
			<a class="button call-to-action" href="/groep-aanmaken">Maak een nieuwe groep aan</a>
		{{else}}
		<p>Je bent nog niet aangesloten bij een groep. Je kunt zelf een groep maken of zoeken naar een groep om bij aan te sluiten.</p>
		<ul>
			<li><a class="button call-to-action"  href="/groep-aanmaken">Maak een nieuwe groep aan</a></li>
			<li><a class="button"  href="/groepen">Groep zoeken</a></li>
		</ul>
		{{/if}}
	</section>
</main>