{{> creatorHeader}}
<main id="content" class="edit-poll">
	<h1>Poll <span>{{pollname}}</span> bewerken</h1>
	<form action="/update-poll" method="POST">
	<div>
		<label><span>Titel: </span><input type="text" name="title" value="{{pollname}}" maxlength="56"></label>
	</div>
	{{#if questions}}
	<fieldset>
		<legend>Vragen van de {{pollname}} poll</legend>
			<ol>
			{{#each questions}}
			<li><label>Vraag <span>nummer: </span><input type="number" name="order" value="{{index}}" min="1" max="5"></label>
			<section>
			<h3>{{title}}</h3>
			<p>De mogelijke antwoorden:</p>
			<ul>
				{{#each options}}
				<li>{{text}}</li>
				{{/each}}
			</ul>
			<div>
				<h4>Kenmerken</h4>
				<ul>
			{{#if hidden}}
				<li>Vraag is niet zichtbaar tijdens poll</li>
			{{else}}
				<li>Vraag is zichtbaar</li>
			{{/if}}
			{{#if showresults}}
				<li>Resultaten worden weergegeven</li>
			{{else}}
				<li>Resultaten zijn priv&eacute;</li>
			{{/if}}
			</ul>
			</div>
			<p><span>Vraag <em>{{title}}</em> </span><a class="button" href="vraag-{{index}}-bewerken">bewerken</a><span> of </span><a class="button danger" href="vraag-{{index}}-verwijderen">verwijderen</a><span>.</span></p>
			</li>
			</section>
			{{/each}}
			</ol>
			{{#if questionLimit}}
				<p>Je zit aan het maximum aan vragen</p>
			{{else}}
				<a class="button call-to-action" href="vraag-toevoegen">Vraag toevoegen</a>
			{{/if}}
			<div>
				<input class="button" type="submit" name="savequestions" value="Wijzigingen opslaan">
			</div>
		</fieldset>
	{{else}}
		<p>Je hebt nog geen vragen voor de poll.</p>
		<a class="button call-to-action" href="vraag-toevoegen">Maak nieuwe vraag</a>
	{{/if}}
	
	<fieldset>
		<legend>Instellingen<span> {{pollname}} poll</span></legend>	
		{{#if timeStandardSet}}
		<label>De standaard tijd voor elke vraag:
			<select name="newTimeStandard">
				{{#each timeStandardOptions}}
					<option value="{{seconds}}" {{selected}}>{{text}}</option>
				{{/each}}
			</select>
		</label>
		{{else}}
		<label>Standaard tijd per vraag instellen <input type="checkbox" name="setTimeStandard"></label>
		<label>Kies de standaard tijd voor elke vraag:
			<select name="newTimeStandard">
				<option value="60" selected>1 minuut</option>
				<option value="120">2 minuten</option>
				<option value="180">3 minuten</option>
				<option value="240">4 minuten</option>
				<option value="300">5 minuten</option>
			</select>
		</label>
		{{/if}}
		<fieldset>
			<legend>Zichtbaarheid<span> {{pollname}} poll</span></legend>
			{{#if open}}
				<label><input checked type="radio" name="visibility" value="open">Open <span>voor iedereen</span></label>
			{{else}}
				<label><input type="radio" name="visibility" value="open">Open <span>voor iedereen</span></label>
			{{/if}}
			{{#if limited}}
				<label><input checked type="radio" name="visibility" value="besloten">Besloten <span>(alleen voor leden van jouw groep)</span>
			{{else}}
				<label><input type="radio" name="visibility" value="besloten">Besloten <span>(alleen voor leden van jouw groep)</span>
			</label>
			{{/if}}
			{{#if private}}
				<label><input checked type="radio" name="visibility" value="privé">Priv&eacute; (alleen zichtbaar voor jou)</label>
			{{else}}
				<label><input type="radio" name="visibility" value="privé">Priv&eacute; (alleen zichtbaar voor jou)</label>
			{{/if}}
		</fieldset>
		<div>
		<input class="button" type="submit" name="savesettings" value="Instellingen opslaan">
		</div>
	</fieldset>
	<input type="hidden" name="pollId" value="{{pollId}}">
	<input type="hidden" name="creatorname" value="{{creatorname}}">
	</form>
	<a class="button" href="/c/{{creatorname}}">Ga terug naar mijn overzicht</a>
</main>