{{> creatorHeader}}
<main id="content">
	<h1>Poll bewerken</h1>
	<form action="/bewerk-poll" method="POST">
	<div>
		<label><span>Titel: </span><input type="text" name="title" value="{{pollname}}"></label>
	</div>
	{{#if questions}}
	<ol>
		{{#each question}}
		<li><label>Vraag <input type="number" name="order" value="{{index}}" min="1" max="10"></label>: {{question}} 
		<p><span>Vraag </span><a href="vraag-{{index}}">bewerken</a><span> of </span><a href="vraag-verwijderen">verwijderen</a><span>.</span></p>
		</li>
		{{/each}}
	</ol>
	{{/if}}
	<a href="vraag-toevoegen">Maak nieuwe vraag</a>
	<fieldset>
		<legend>Instellingen<span> poll</span></legend>	
		{{#if timerAdvanced}}
		<a href="tijd-instellen">Standaard tijd instellen</a>
		{{else}}
		<label>Standaard tijd voor elke vraag:
			<select name="timer">
				<option value="60" selected>1 minuut</option>
				<option value="120">2 minuten</option>
				<option value="180">3 minuten</option>
				<option value="240">4 minuten</option>
				<option value="300">5 minuten</option>
			</select>
		</label>
		{{/if}}
		<fieldset>
			<legend>Zichtbaarheid<span> poll</span></legend>
			<label><input type="radio" name="visibility" value="open">Open <span>voor iedereen</span></label>
			<label><input type="radio" name="visibility" value="limited">Besloten <span>(alleen voor leden van jouw groep)</span>
			</label>
			<label><input checked type="radio" name="visibility" value="private">Priv&eacute; (alleen zichtbaar voor jou)</label>
		</fieldset>
	</fieldset>
	<div>
		<input type="submit" value="Wijzigingen opslaan">
	</div>
	</form>
</main>