{{#if creatorname}}
{{> creatorHeader}}
{{else if user}}
{{> userHeader}}
{{else}}
{{> pageHeader}}
{{/if}}
<main id="content" class="poll">
	<article>
		{{#if voter}}
		<header>
			<h1>{{poll.title}}</h1>
				<p>Vraag {{poll.currentQuestion}} van {{poll.questionCount}}<span>.</span></p>
		</header>
		{{else}}
		<header class="creator">
			<h1>{{poll.title}}</h1>
			<ul>
				<li><span>De poll is op dit moment </span>Live</li>
				<li><span>De poll is </span>{{poll.visibility}}</li>
				<li>Gestart<span> op</span> <time datetime="{{poll.started}}">{{startTime}}</time></li>
			</ul>
		</header>
		{{/if}}
		<section>
			<h2>{{question.title}}</h2>
			{{#if voter}}
				{{#if hasVoted}}
				<div class="voted">
				<p data-index="{{poll.currentQuestion}}">Jouw antwoord: <span>{{voteText}}</span></p>
					<p>Antwoorden:</p>
					<ul>
					{{#if question.showresults}}
						{{#each question.options}}
							<li>{{text}}<span>. {{text}} heeft </span><span class="results">{{votes}}</span><span> stemmen gekregen.</span></li>
						{{/each}}
					{{else}}
						{{#each question.options}}
							<li>{{text}}</li>
						{{/each}}
					{{/if}}
					</ul>
				</div>
					{{#if question.showresults}}
						<p><span>Het totaal aantal stemmen: </span><span class="total">{{poll.totalvotes}}</span><span> stemmen</span><span>.</span></p>
						{{#if anonymous}}
							<a class="button activate" href="/poll/{{poll.pollId}}-{{voteIndex}}">Update<span> poll</span></a>
						{{else}}
							<a class="button activate" href="/poll/{{poll.pollId}}{{username}}{{voteIndex}}">Update<span> poll</span></a>
						{{/if}}
					{{/if}}
				{{else}}
				<form action="/vote" method="POST">
					<fieldset>
						<legend>Antwoorden</legend>
						{{#if question.showresults}}
							{{#each question.options}}
								<div>
									<label data-votes="{{votes}}"><input type="radio" name="answer" value="{{text}}">{{text}}</label>
									<p><span>{{text}} heeft </span><span class="results">{{votes}}</span><span> stemmen gekregen.</span></p>
								</div>
							{{/each}}
						{{else}}
							{{#each question.options}}
								<label><input type="radio" name="answer" value="{{text}}">{{text}}</label>
							{{/each}}
						{{/if}}
					</fieldset>
					<input type="hidden" name="pollId" value="{{poll.pollId}}">
					<input type="hidden" name="index" value="{{poll.currentQuestion}}">
					{{#if username}}
						<input type="hidden" name="username" value="{{username}}">
					{{/if}}
					<div>
						<input class="button call-to-action" type="submit" value="Stem">
					</div>
				</form>
					{{#if question.showresults}}
					<p><span>Het <span>totaal</span> aantal stemmen: </span><span class="total">{{poll.totalvotes}}</span><span> stemmen</span><span>.</span></p>
					<a class="button activate" href="/poll/{{poll.pollId}}{{username}}">Update<span> poll</span></a>
					{{/if}}
				{{/if}}
			{{else}}
				<p>Antwoorden:</p>
				<ul>
					{{#each question.options}}
						<li>{{text}}<span>. {{text}} heeft </span><span class="results">{{votes}}</span> stemmen<span>.</span></li>
					{{/each}}
				</ul>
				<p><span>Het totaal aantal stemmen: </span><span class="total">{{poll.totalvotes}}</span><span> stemmen</span><span>.</span></p>
				<a class="button activate" href="/poll/{{poll.pollId}}{{creatorname}}">Update<span> antwoorden</span></a>
				<h3>Instellingen</h3>
				{{#if question.showresults}}
					<p data-index="{{poll.currentQuestion}}">Resultaten worden weergegeven.</p>
				{{else}}
					<form action="/update-vraag" method="POST">
						<label>Resultaten weergeven <input type="checkbox" name="showresults"></label>
						<input type="hidden" name="pollId" value="{{poll.pollId}}">
						<input type="hidden" name="index" value="{{poll.currentQuestion}}">
						<input type="hidden" name="creatorname" value="{{creatorname}}">
						<input type="hidden" name="live" value="true">
						<div>
							<input class="button call-to-action" type="submit" value="Wijzigingen oplsaan">
						</div>
					</form>
				{{/if}}
				<a class="button danger" href="/c/{{creatorname}}/poll/{{poll.pollId}}/stop"><span>Poll </span>stoppen</a>
			{{/if}}
		</section>
	</article>
</main>
<script src="/js/socket.js" type="text/javascript"></script>