{{> userHeader}}
<main id="content">
	<h1>Hi, {{username}}!</h1>
	<nav>
		<ul>
			{{#if live}}
				<li><a href="#live-polls">Ga naar de polls op dit moment</a></li>
			{{/if}}
			<li><a href="#join">Zoek een poll</a></li>
			<li><a href="#groups">Ga naar mijn groepen</a></li>
		</ul>
	</nav>
	<section>
		<h2 id="join">Zoek een poll</h2>
		<form action="/join" method="GET">
			<p>Voer de code in van de poll mee te doen.</p>
			<label>Code <input name="pollnumber" type="search" maxlength="10" placeholder="Voer de code in van de poll"></label>
			<input type="submit" value="Ga naar poll">
		</form>
	</section>
	
	{{#if livePolls}}
	<section>
		<h2 id="live-polls">Live polls</h2>
		<ul>
			{{#each livePolls}}
			<li>
				<article>
				<header>
					<h3>{{title}}</h3>
				</header>
				<section>
					<h4>{{question.title}}</h4>
					<form action="/vote" method="POST">
					<fieldset>
						<legend>Antwoorden</legend>
						{{#if poll.showresults}}
							{{#each question.options}}
								<label data-votes="{{votes}}"><input type="radio" name="answer" value="{{text}}">{{text}}</label>
								<p>{{text}} heeft {{votes}} stemmen gekregen.</p>
							{{/each}}
						{{else}}
							{{#each question.options}}
								<label><input type="radio" name="answer" value="{{text}}">{{text}}</label>
							{{/each}}
						{{/if}}
					</fieldset>
					<div>
						<input type="submit" value="Stem">
					</div>
				</form>
				</section>
				<p>Vraag {{currentQuestion}} van {{questionCount}}<span>.</span></p>
				<a href="/poll/{{pollId}}{{username}}">Ga naar poll<span> {{title}}</span></a>
			</article>
			</li>
			{{/each}}
		</ul>
		{{#if multiplePolls}}
			<a href="/u/{{username}}">Update polls</a>
		{{else}}
			<a href="/u/{{username}}">Update poll</a>
		{{/if}}
	</section>
	{{/if}}

	<section>
		<h2>Mijn groepen</h2>
		{{#if groups}}
			<ul>
				{{#each group}}
				<li>
					<a href="/groep/{{groupname}}">{{groupname}}</a>
				</li>
				{{/each}}
			</ul>
		{{else}}
		<p>Je bent nog niet aangesloten bij een groep. Zoek naar een groep en sluit je aan.</p>
		<a href="/groepen">Groep zoeken</a>
		{{/if}}
	</section>
	
</main>