{{> userHeader}}
<main id="content">
	<h1>Hi, {{username}}!</h1>
	<nav>
		<ul>
			{{#if live}}
				<li><a href="#live-polls">Ga naar de polls op dit moment</a></li>
			{{/if}}
			<li><a href="#join">Zoek een poll</a></li>
			<li><a href="#groups">Ga naar mijn groepen</a></li>
		</ul>
	</nav>
	<section>
		<h2 id="join">Zoek een poll</h2>
		<form action="/join" method="GET">
			<p>Voer de code in van de poll mee te doen.</p>
			<label>Code <input name="pollnumber" type="search" maxlength="10" placeholder="Voer de code in van de poll"></label>
			<input type="submit" value="Ga naar poll">
		</form>
	</section>
	
	{{#if livePolls}}
	<section>
		<h2 id="live-polls">Live polls</h2>
		<ul>
			{{#each livePolls}}
			<li>
				<article>
				<header>
					<h3>{{title}}</h3>
				</header>
				<section>
					<h4>{{question.title}}</h4>
					<ul>
						{{#if poll.showresults}}
							{{#each question.options}}
								<li data-votes="{{votes}}">{{text}}</li>
								<p>{{text}} heeft {{votes}} stemmen.</p>
							{{/each}}
						{{else}}
							{{#each question.options}}
								<li>{{text}}</li>
							{{/each}}
						{{/if}}
					</ul>
				</section>
				<p>Vraag {{currentQuestion}} van {{questionCount}}<span>.</span></p>
				<a href="/poll/{{pollId}}{{username}}">Ga naar poll<span> {{title}} om mee te doen</span></a>
			</article>
			</li>
			{{/each}}
		</ul>
		{{#if multiplePolls}}
			<a href="/u/{{username}}">Update polls</a>
		{{else}}
			<a href="/u/{{username}}">Update poll</a>
		{{/if}}
	</section>
	{{/if}}

	<section>
		<h2>Mijn groepen</h2>
		{{#if groups}}
			<ul>
				{{#each group}}
				<li>
					<a href="/groep/{{groupname}}">{{groupname}}</a>
				</li>
				{{/each}}
			</ul>
		{{else}}
		<p>Je bent nog niet aangesloten bij een groep. Zoek naar een groep en sluit je aan.</p>
		<a href="/groepen">Groep zoeken</a>
		{{/if}}
	</section>
	
</main>